.path-mod-pulse .fcontainer .emailvars span,
#page-admin-setting-local_pulsepro_settings .emailvars span,
.path-admin-mod-pulse .emailvars span {
    color: #000;
    background: #ffbf46;
    padding: 3px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
    border-radius: 3px;
}

.path-mod-pulse .emailvars,
#page-admin-setting-local_pulsepro_settings .emailvars,
.path-admin-mod-pulse .emailvars {
    position: relative;
    font-size: smaller;
}

@media (max-width: 767px) {
    .path-mod-pulse .fcontainer .emailvars,
    #page-admin-setting-local_pulsepro_settings .emailvars,
    .path-admin-mod-pulse .emailvars {
        width: 100%;
    }
}

.section .pulse.modtype_pulse .contentwithoutlink,
.section .pulse.modtype_pulse .activityinstance {
    display: block;
    padding-right: 15px;
}

#page-mod-pulse-approve #participants .approvebtn {
    margin-left: 10px;
}

#page-mod-pulse-mod #fgroup_id_completionrequireapproval .form-check.fitem {
    margin-right: 15px;
}

#page-mod-pulse-mod #fgroup_id_completionrequireapproval .pulse-completion-roles {
    margin-left: 10px;
}

.pulse.modtype_pulse .pulse-completion-btn .badge {
    display: table;
    margin-top: 10px;
    margin-left: 30px;
}

.section .pulse.modtype_pulse .pulse-completion-btn {
    text-align: right;
    margin: 15px 0;
}
.pulse.modtype_pulse .pulse-completion-btn .badge {
    margin-bottom: 15px;
}

.preset-item-content .preset-icon,
.preset-item-content .preset-title,
.preset-item-content .description,
.preset-item-content .preset-config-params {
    margin-bottom: 20px;
}

.pulse-presets-list .pulse-preset-item {
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 10px 1px #ccc;
    padding: 20px;
    background-color: #fff;
}
.pulse-presets-list .pulse-presets-wrapper .col-lg-4.col-md-6.col-xs-12 {
    margin-bottom: 30px;
}

#page-mod-pulse-mod .manage-presets {
    text-align: right;
    margin-bottom: 15px;
}

#page-mod-pulse-mod .promotional-content {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    justify-content: space-between;
}

#page-mod-pulse-mod .pulse-preset-promotional {
    background: #6c757d;
    color: #fff;
    font-weight: bold;
}

#page-mod-pulse-mod .learn-more .btn-default {
    background-color: #fff;
}

#page-mod-pulse-mod .preset-config-params [data-fieldtype="submit"] {
    display: none;
}

#page-mod-pulse-mod div#pulse-presets-data {
    min-height: 200px;
}

#page-mod-pulse-mod .preset-item-content .preset-icon i {
    font-size: 1.5rem;
}

#page-mod-pulse-mod .preset-item-content .preset-title h5 {
    font-weight: 600;
}

#page-mod-pulse-mod .preset-item-content .badge.badge-secondary {
    white-space: normal;
}

#page-mod-pulse-mod .popover.show {
    z-index: 2000;
}

.pulse.modtype_pulse .pulse-box div.alert {
    display: flex;
    align-items: center;
}

.modtype_pulse .pulse-box-icon .icon {
    font-size: 1.5rem;
}

/* Pulse 2.1 email placeholders style */
.mod-pulse-emailvars-toggle .emailvars-content .pulse-email-placeholders .placeholder-body .placeholders.less {
    width: 400px;
    height: 25px;
    overflow: hidden;
}
.mod-pulse-emailvars-toggle .emailvars-content .pulse-email-placeholders li {
    margin-bottom: 10px;
}
.mod-pulse-emailvars-toggle .emailvars-content .pulse-email-placeholders .placeholder-head .title,
.mod-pulse-emailvars-toggle .emailvars-content .pulse-email-placeholders .placeholder-head .help-text {
    display: inline-block;
}
.mod-pulse-emailvars-toggle .emailvars-body {
    background-color: #f1f1f1;
    border-radius: 5px;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-head {
    width: 100%;
    text-decoration: none;
    display: inline-block;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-head a {
    font-weight: bold;
    color: #000;
    padding: 20px;
    text-decoration: none;
    box-shadow: none;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-head .email-vars-button {
    display: flex;
    align-items: center;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-head .email-vars-button i {
    width: 100%;
    text-align: right;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .card-body {
    border: 0;
    border-radius: 0;
    background: none;
    padding-top: 0;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .pulse-email-placeholders {
    padding: 0;
    margin-bottom: 0;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .placeholder-head .title h6 {
    font-size: 14px;
    font-weight: normal;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .placeholder-body .placeholders a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffe99c;
    padding: 1px 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .placeholder-body .showmore {
    margin-bottom: 5px;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .placeholder-body .showmore a {
    text-decoration: none;
    box-shadow: none;
}
.mod-pulse-emailvars-toggle .emailvars-body .emailvars-content .placeholders-document h6 {
    margin-bottom: 0;
    font-weight: normal;
}

div#pulsetemplates-tab-content .tab-pane.active {
    display: block;
}
div#pulsetemplates-tab-content .tab-pane {
    display: none;
}

@media (min-width: 767px) and (max-width: 991px) {
    .mod-pulse-emailvars-toggle .emailvars-content .pulse-email-placeholders .placeholder-body .placeholders.less {
        width: auto;
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    .mod-pulse-emailvars-toggle .emailvars-content .pulse-email-placeholders .placeholder-body .placeholders.less {
        width: auto;
        max-width: 400px;
    }
}