.path-mod-pulse .fcontainer .emailvars span,
#page-admin-setting-local_pulsepro_settings .emailvars span {
    color: #000;
    background: #ffbf46;
    padding: 3px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
    border-radius: 3px;
}

.path-mod-pulse .emailvars,
#page-admin-setting-local_pulsepro_settings .emailvars {
    position: relative;
    font-size: smaller;
}

@media (max-width: 767px) {
    .path-mod-pulse .fcontainer .emailvars,
    #page-admin-setting-local_pulsepro_settings .emailvars {
        width: 100%;
    }
}

.section .pulse.modtype_pulse .contentwithoutlink,
.section .pulse.modtype_pulse .activityinstance {
    display: block;
    padding-right: 15px;
}

#page-mod-pulse-approve #participants .approvebtn {
    margin-left: 10px;
}

#page-mod-pulse-mod #fgroup_id_completionrequireapproval .form-check.fitem {
    margin-right: 15px;
}

#page-mod-pulse-mod #fgroup_id_completionrequireapproval .pulse-completion-roles {
    margin-left: 10px;
}

.pulse.modtype_pulse .pulse-completion-btn .badge {
    display: table;
    margin-top: 10px;
    margin-left: 30px;
}

.section .pulse.modtype_pulse .pulse-completion-btn {
    text-align: right;
    margin: 15px 0;
}
.pulse.modtype_pulse .pulse-completion-btn .badge {
    margin-bottom: 15px;
}

.preset-item-content .preset-icon,
.preset-item-content .preset-title,
.preset-item-content .description,
.preset-item-content .preset-config-params {
    margin-bottom: 20px;
}

.pulse-presets-list .pulse-preset-item {
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 10px 1px #ccc;
    padding: 20px;
    background-color: #fff;
}
.pulse-presets-list .pulse-presets-wrapper .col-lg-4.col-md-6.col-xs-12 {
    margin-bottom: 30px;
}

#page-mod-pulse-mod .manage-presets {
    text-align: right;
    margin-bottom: 15px;
}

#page-mod-pulse-mod .promotional-content {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    justify-content: space-between;
}

#page-mod-pulse-mod .pulse-preset-promotional {
    background: #6c757d;
    color: #fff;
    font-weight: bold;
}

#page-mod-pulse-mod .learn-more .btn-default {
    background-color: #fff;
}

#page-mod-pulse-mod .preset-config-params [data-fieldtype="submit"] {
    display: none;
}

#page-mod-pulse-mod div#pulse-presets-data {
    min-height: 200px;
}

#page-mod-pulse-mod .preset-item-content .preset-icon i {
    font-size: 1.5rem;
}

#page-mod-pulse-mod .preset-item-content .preset-title h5 {
    font-weight: 600;
}

#page-mod-pulse-mod .preset-item-content .badge.badge-secondary {
    white-space: normal;
}

#page-mod-pulse-mod .popover.show {
    z-index: 2000;
}

.pulse.modtype_pulse .pulse-box div.alert {
    display: flex;
    align-items: center;
}

.modtype_pulse .pulse-box-icon .icon {
    font-size: 1.5rem;
}

/* modtype_pulse - environment. */
.modtype_pulse .pulse-box .alert-danger, .modtype_pulse .pulse-box .environmenttable .error {
    color: #691911;
    background-color: #f4d6d2;
    border-color: #f0c5c1;
}

.modtype_pulse .pulse-box .alert-primary {
    color: #083a66;
    background-color: #cfe2f3;
    border-color: #bcd7ef;
}

.modtype_pulse .pulse-box .alert-secondary {
    color: #6b6e71;
    background-color: #f5f6f8;
    border-color: #f1f3f5;
}

.modtype_pulse .pulse-box .alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.modtype_pulse .pulse-box .alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.modtype_pulse .pulse-box .alert-success, .modtype_pulse .pulse-box .environmenttable .ok {
    color: #1c3f1a;
    background-color: #d7e4d6;
    border-color: #c6dac6;
}

.modtype_pulse .pulse-box .alert-warning, .environmenttable .warn {
    color: #7d5a29;
    background-color: #fcefdc;
    border-color: #fbe8cd;
}