<ul class="nav nav-tabs mb-3" id="automation-tabs" role="tablist">
    {{#tabs}}
    <li class="nav-item">
        <a class="nav-link {{active}}" id="tool-details-tab" data-toggle="tab" href="#{{name}}" role="tab" aria-controls="tooldetails">
            {{title}}
        </a>
    </li>
    {{/tabs}}
</ul>
