<div class="override-block">
    <table class="generaltable">
        <thead>
            <tr><td>{{#str}} instancename, pulse {{/str}} </td> <td>{{#str}} view, pulse {{/str}} </td></tr>
        </thead>
        {{#instances}}
            <tr>
                <td>{{{name}}}</td>
                <td><a href="{{{url}}}"> {{#str}} view, pulse {{/str}} </a></td>
            </tr>
        {{/instances}}

    </table>
</div>
